<div class="navbar navbar-expand-sm navbar-light navbar-cookbook">
  <div class="container-fluid">
    <h1 class="mb-4">Cookbook</h1>
    <div class="d-flex">
      <%= link_to "Home", categories_path, class: "btn btn-flat" %>
      <%= link_to "New category", new_category_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
