<div class="form-new mt-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="bg-white rounded p-4 shadow">
        <h3 class="mb-3">Create a new category</h3>
        <%= simple_form_for @category, html: { multipart: true } do |f| %>
          <%= f.input :name, placeholder: 'Enter category name' %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, 'Create category', class: 'btn btn-info mt-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
